

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="fpApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name=viewport content="width=device-width, initial-scale=1">
<title>Function Point Analysis Tool</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-messages.js"></script>
<script src="ngscript.js"></script>
</head>
<body ng-controller="FPController">
	<header class="navbar navbar-static-top" id="top" role="banner">
	<div class="jumbotron"
		style="background-color: #000000; color: #ffffff">
		<div class="container">
			<h1>Function Point Analysis Tool</h1>
			<p>This tool is aimed to help users quickly estimate the
				effort required to build a software using function point
				analysis technique. The users include project managers, team/tech lead, developers etc. 
			</p>
		</div>
	</div>
	</header>
	<div class="container">
		<div style="padding-bottom: 50px">
			<div class="page-header">
				<h2>Add a Function</h2>
			</div>
			<div class="well well-sm">
				<div style="padding: 10px 0px 10px 0px">Best Practice:
					Firstly, add the data functions and then,
					add different transactions' functions which operate on these
					data.</div>
				<form class="form-vertical" name="funcform" role="form"
					ng-submit="addFunction()">
					<table style="width: 100%;" class="table table-bordered">
						<tr>							
							<td style="width: 50%; padding: 20px">
								<div class="form-group">
									<div class="input-group input-group-lg">
										<label for="type">Function Type</label> <select id="type"
											class="form-control" ng-model="type"
											ng-options="type.name for type in types" ng-change="funcTypeChanged()"></select>
									</div>
								</div>
							</td>
							<td style="width: 50%; padding: 20px;" colspan="2">
								<div class="form-group">
									<div class="col-md-10 input-group input-group-lg">
										<label for="name">Name of the Function</label> <input
											type="text" class="form-control" name="name" ng-model="name" id="name" 
											required />
											<p class="help-block">
											Data (Ex: User, Account), Transaction (Ex: CRUD Operations etc)
											</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="width: 40%; padding: 20px">
								<div class="form-group">
									<div class="input-group input-group-lg">
										<label for="det">Unique Data Types</label> <input type="number" id="det"
											class="form-control" name="det" ng-model="det" min="1"
											required />
										<p class="help-block">Count of user-recognizable unique data elements types (DET)</p>
									</div>
								</div>
							</td>
							<td style="width: 40%; padding: 20px">
								<div class="form-group">
									<div class="input-group input-group-lg">
										<label for="retftr">{{retftr_label}}</label> <input type="number"
											id="retftr" class="form-control" name="retftr"
											ng-model="retftr" min="1" required />
											<p class="help-block">{{retftr_help}}</p>
									</div>
								</div>
							</td>
							<td style="width: 20%; padding: 20px">
								<div class="form-group">
									<div style="padding: 20px 0px 0px 0px">
										<input type="submit" value="Submit"
											class="btn btn-primary btn-lg" />
									</div>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="page-header" style="padding-top: 0px">
				<h2>List of Functions</h2>
			</div>
			<div>
				<table style="width: 100%">
					<tr>
						<td style="width: 82%; vertical-align: top">
							<div>
								<table class="table table-striped table-hover"
									style="width: 100%">
									<tr>
										<th style="width: 30%"><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Name of the Function</a></th>
										<th style="width: 30%"><a href="" ng-click="orderByField='type.name'; reverseSort = !reverseSort">Function Type</a></th>
										<th style="width: 15%"><a href="" ng-click="orderByField='det'; reverseSort = !reverseSort">DET</a></th>
										<th style="width: 15%"><a href="" ng-click="orderByField='retftr'; reverseSort = !reverseSort">RET/FTR</a></th>
										<th style="width: 10%"><a href="" ng-click="orderByField='fpcount'; reverseSort = !reverseSort">Count</a></th>
									</tr>
									<tr ng-repeat="function in functions| orderBy:orderByField:reverseSort">
										<td style="width: 30%">{{function.name}}</td>
										<td style="width: 30%">{{function.type.name}}</td>
										<td style="width: 15%">{{function.det}}</td>
										<td style="width: 15%">{{function.retftr}}</td>
										<td style="width: 10%">{{function.fpcount}}</td>
									</tr>
									<tr ng-show="!functionsExist" class="ng-hide">
										<td colspan="5" style="width: 100%"><b>Add one or
												more functions using above</b> to see the list of functions and
											the related function counts. Read the notes below for quick
											reference to some of the assumptions and formulaes which were
											used to come up with the data.</td>
									</tr>
								</table>
							</div>
							<div style="padding-top: 500px">
								<div class="panel panel-warning">
									<div class="panel-heading">Notes</div>
									<div class="panel-body">
										<ul>
											<li>DET stands for Data Element Type</li>											
											<li>Value Adjustment Factor (VAF) in calculation of
												total function points is assumed to be 1, although it ranges
												between 0.65 and 1.35.</li>
											<li>Total Function Points (Adjusted Function Point) is
												sum of all function points count for all functions (often
												termed as Unadjusted Function Points) multiplied by VAF
												(assumed to be 1)</li>
											<li><b>Total Person Months =</b>  Total Effort (Hours) / Total Hours Per Month 
											</li>
											<li><b>Project duration =</b> 2.5 * cube root of
												work months. Work months is equal to total effort / hours
												per month. The mention of these formulas (including below) is made on this <a href="http://alvinalexander.com/FunctionPoints/node35.shtml" target="_blank">page</a>.</li>
											<li><b>Optimum staffing size =</b> square root
												of work months.</li>
											<li><b>Minimum project duration =</b> 0.75 *
												cube root of work months. Work months is equal to total
												effort / hours per month.</li>
										</ul>
									</div>
								</div>
							</div>
						</td>
						<td style="width: 18%; vertical-align: top">
							<table style="width: 100%">
								<tr>
									<td style="width: 100%" class="well">
										<div class="panel panel-primary">
											<div class="panel-heading">Total Function Points</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												{{totalUafFPCount}}</div>
										</div>
										<div class="panel panel-primary">
											<div class="panel-heading">Velocity (Hours to Complete
												1 FP)</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												<div class="col-md-10">
													<input type="number" name="velocity" class="form-control"
														ng-change="velocityChanged()" ng-model="velocity" min="1"
														required />
												</div>
											</div>
										</div>
										<div class="panel panel-primary">
											<div class="panel-heading">Total Effort (Hours)</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												{{totalEffort}}</div>
										</div>
										<div class="panel panel-primary">
											<div class="panel-heading">Total Work Hours in 1 Month</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												<div class="col-md-10">
													<input type="number" name="hoursPerMonth"
														class="form-control" ng-change="hoursPerMonthChanged()"
														ng-model="hoursPerMonth" required />
												</div>
											</div>
										</div>
										<div class="panel panel-primary">
											<div class="panel-heading">Total Person Months</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												{{workMonth}}</div>
										</div>
										<div class="panel panel-primary">
											<div class="panel-heading">Project Duration (Months)</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												{{projectDuration}}</div>
										</div>
										<div class="panel panel-primary">
											<div class="panel-heading">Optimum Staffing Size</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												{{staffingSize}}</div>
										</div>
										<div class="panel panel-primary">
											<div class="panel-heading">Min Project Duration
												(Months)</div>
											<div class="panel-body" style="font-size: 72px;text-align:center;vertical-align:middle;">
												{{minProjectDuration}}</div>
										</div>

									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="container">


			<div>
				<hr />
				<footer>
				<div>
					<div class="fb-like"
						data-href="http://function-point-analysis.appspot.com/"
						data-layout="standard" data-action="like" data-share="true"></div>

					<div class="g-plusone" data-annotation="inline" data-width="300"></div>
					<script type="text/javascript">
						(function() {
							var po = document.createElement('script');
							po.type = 'text/javascript';
							po.async = true;
							po.src = 'https://apis.google.com/js/platform.js';
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(po, s);
						})();
					</script>
				</div>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>
